#popup-container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 40px 40px;
  gap: 20px;
  background-color: var(--palette2);
}

#popup-container-signup>h1{
  color: var(--palette1);
}

.form-container-signup {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.input-field-signup {
  width: 400px;
}
