#google-map {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 580px) {
  #google-map {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 460px) {
  #google-map {
    width: 300px;
    height: 300px;
  }
}
