#page-container-manage-reviews {
  display: flex;
  flex-direction: column;
}

#page-container-manage-reviews>h1 {
  margin-bottom: 40px;
  text-align: center;
}

#image-title-date-location-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#image-title-date-location-container>img {
  width: 100px;
  aspect-ratio: 1/1;
}

#title-date-location-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#view-spots-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#view-spots-container>button {
  font-size: 1.2em;
  height: 100px;
  width: 300px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#individual-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
  background-color: var(--palette2);
  padding: 20px;
  box-shadow: 0 0 15px var(--palette5), inset 0 0 15px var(--palette3);

}

#star-rating-blod-container-manage-spots {
  display: flex;
  align-items: center;
}

#crud-reviews-buttons-container {
  display: flex;
  gap: 10px;
}

#crud-reviews-buttons-container>button {
  width: 200px;
}

@media screen and (max-width: 600px) {
  #crud-reviews-buttons-container {
    flex-direction: column;
  }
}
