  #review-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
  }

  #blood-rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #review-buttons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  #review-text-area {
    height: 100px;
    resize: vertical;
  }

  .review-buttons {
    height: 30px;
    width: 200px;
  }

  .rating-input {
    display: flex;
  }

  .rating-input .filled {
    color: var(--blood-color);
  }

  .rating-input .empty {
    color: gray;
  }

  .review-error-text {
    color: var(--primary-color);
  }

  .blood-icon-position {
    margin-top: 7px;
  }

  .create-spot-errors {
    color: var(--primary-color);
  }
