#review-form-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--palette2);
  padding: 40px 40px;
}

#review-form-background>h1 {
  text-align: center;
  color: var(--palette1)
}

#form-container-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

#review-textarea-container {
  display: flex;
  flex-direction: column;
}

#blood-rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#buttons-container-review {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#leave-review-textarea {
  height: 100px;
  width: 100%;
}

.review-buttons {
  width: 200px;
}

.rating-input {
  display: flex;
}

.filled {
  color: var(--blood-color);
}

.empty {
  color: var(--palette1);
}

.blood-icon-position {
  margin-top: 7px;
}

@media screen and (max-width: 600px) {
  #review-form-background {
    width: 400px;
  }

  #form-container-review {
    align-items: center;
  }

  #leave-review-textarea {
    width: 320px;
  }

  .review-buttons {
    width: 150px;
  }
}
