#review-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

#name-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center
}

#rating-star-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

#review-date {
  font-size: 0.75em;
  font-style: italic;
}

.blood-icon {
  color: var(--blood-color)
}
