#spot-details-container {
  display: flex;
  flex-direction: column;
}

#spot-name {
  margin-bottom: 20px;
}

#spot-address {
  margin-bottom: 10px;
}


#images-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "big small1 small2"
    "big small3 small4";
  gap: 10px;
  margin-bottom: 20px;
}

.big-image {
  grid-area: big;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.small-image {
  width: 100%;
  height: 100%;
}

.small-image-1 {
  grid-area: small1;
}

.small-image-2 {
  grid-area: small2;
  border-top-right-radius: 15px;
}

.small-image-3 {
  grid-area: small3;
}

.small-image-4 {
  grid-area: small4;
  border-bottom-right-radius: 15px
}


#description-details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "description reviews";
  gap: 40px;
}

#description-details-left-container {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description-details-right-container {
  grid-area: reviews;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "price"
    "button";
  grid-row-gap: 10px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px 40px 20px 40px;
  min-width: 460px;
}

#price-rating-review-container {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#price-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

#spot-price {
  font-size: 2em;
}

#rating-review-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.blood-icon {
  font-size: 1.5em;
  color: var(--blood-color);
}

#dot-top {
  font-size: 3em;
}

#button-reserve {
  grid-area: button;
  justify-self: center;
  width: 300px;
}

.popup-container-reserve-review {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#reserve-form-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 40px 40px;
}

#button-close {
  width: 200px;
}


#section-separator {
  margin-top: 40px;
}


#ratings-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 40px 0 20px 0;
  font-size: 2em;
}

#ratings-subcontainer {
  display: flex;
  align-items: center;
}

#dot2 {
  font-size: 2em;
}

#button-review {
  width: 300px;
}
