#spot-details-container {
  display: flex;
  flex-direction: column;
}

#spot-name {
  margin-bottom: 20px;
}

#spot-address {
  margin-bottom: 10px;
}


#images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "big-image small-images";
  gap: 10px;
  margin-bottom: 40px;
}

.big-image {
  grid-area: big-image;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  aspect-ratio: 1/1;
}

#small-images-container {
  grid-area: small-images;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "small1 small2"
    "small3 small4";
  gap: 10px;
}

.small-image {
  width: 100%;
  aspect-ratio: 1/1;
}

.small-image-1 {
  grid-area: small1;
}

.small-image-2 {
  grid-area: small2;
  border-top-right-radius: 15px;
}

.small-image-3 {
  grid-area: small3;
}

.small-image-4 {
  grid-area: small4;
  border-bottom-right-radius: 15px
}


#description-details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "description reviews";
  gap: 40px;
}

#description-details-left-container {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description-details-right-container {
  grid-area: reviews;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "price"
    "button";
  grid-row-gap: 10px;
  border: 1px solid var(--palette1);
  background-color: var(--palette2);
  border-radius: 15px;
  padding: 10px 40px 25px 40px;
  min-width: 460px;
  height: 140px;
}

#price-rating-review-container {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#price-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

#spot-price {
  font-size: 2em;
}

#rating-review-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.blood-icon {
  font-size: 1.5em;
  color: var(--blood-color);
}

#dot-top {
  font-size: 3em;
}

#button-reserve {
  grid-area: button;
  justify-self: center;
  width: 300px;
}

.popup-container-reserve-review {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#feature-popup {
  background-color: var(--palette1);
}

#reserve-form-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--palette2);
  padding: 40px 40px;
}

#feature-text {
  color: var(--palette1);
}

#button-close {
  width: 200px;
}

#section-separator {
  margin-top: 40px;
}

#ratings-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 40px 0 20px 0;
  font-size: 2em;
}

#ratings-subcontainer {
  display: flex;
  align-items: center;
}

#dot2 {
  font-size: 2em;
}

#button-review {
  width: 300px;
}

@media screen and (max-width: 1200px) {
  #ratings-container-bottom {
    font-size: 1.2em;
    font-weight: bold;
  }
}

@media screen and (max-width: 1000px) {
  #images-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "big-image"
      "small-images";
  }

  .big-image {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .small-image-2 {
    border-top-right-radius: 0;
  }

  .small-image-3 {
    border-bottom-left-radius: 15px
  }

  .small-image-4 {
    border-bottom-right-radius: 15px
  }

  #description-details-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "reviews"
      "description";
  }

  #ratings-container-bottom {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  #images-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "big-image"
      "small-images";
  }

  #small-images-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "small1 small2"
      "small3 small4";
  }

  .big-image {
    border-radius: 15px;
  }

  .small-image {
    border-radius: 15px;
  }

  #price-rating-review-container {
    flex-direction: column;
    justify-content: center;
  }

  #description-details-right-container {
    height: 180px;
    gap: 0px;
  }
}

@media screen and (max-width: 500px) {
  #description-details-right-container {
    min-width: 360px;
  }

  #description-details-left-container {
    text-align: center;
  }

  #ratings-container-bottom {
    font-size: 1em;
  }
}
