#spot-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(16.666%), 1fr));
  column-gap: 2%;
  row-gap: 4%;
}

#spot-content-container{
  display: flex;
  justify-content: space-between;
}

#spot-left-content-container {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

#spot-right-content-container {
  display: flex;
  padding-right: 5px;
}

#spot-image {
  border-radius: 15px;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#grid-container-parent {
  margin-bottom: 100px;
}

#spot-link {
  text-decoration: none;
  color: inherit;
}

#tooltip {
  padding-left: 5px;
  font-size: 0.75rem;
  position: absolute;
}
