#spot-details-container {
  display: flex;
  flex-direction: column;
}

#spot-name {
  margin-bottom: 20px;
}

#spot-address {
  margin-bottom: 10px;
}

#spot-images-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "big small1 small2"
    "big small3 small4";
  gap: 10px;
  margin-bottom: 20px;
}

.big-image {
  grid-area: big;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.small-image {
  width: 100%;
  height: 100%;
}

.small-image-1 {
  grid-area: small1;
}

.small-image-2 {
  grid-area: small2;
  border-top-right-radius: 15px;
}

.small-image-3 {
  grid-area: small3;
}

.small-image-4 {
  grid-area: small4;
  border-bottom-right-radius: 15px
}

#description-reviews-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "description reviews";
  gap: 40px;
}

#description-container {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#reviews-container {
  grid-area: reviews;
}

#reviews-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "price number stars"
    "button button button";
  grid-row-gap: 10px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px 20px 20px 20px;
}

#price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#spot-details-price {
  font-size: 2em;
}

#number-of-reviews {
  justify-self: end;
  align-self: center;
}

#star-rating-container {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 5px;
}

#star-icon {
  font-size: 1.5em;
  margin-bottom: 2px;
}

#booking-button {
  grid-area: button;
  justify-self: center;
  height: 30px;
  width: 300px;
}

#popup-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

#inner-popup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid gray;
  background-color: white;
  padding: 40px 40px;
}

#close-button{
  height: 30px;
  width: 200px;
}
