footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 0 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--palette5);
  color: var(--palette2);
}

body.light footer {
  background-color: var(--palette5);
  color: var(--primary-color);
}

footer a {
  color: var(--palette2);
}

body.light footer a {
  color: var(--primary-color);
}


@media screen and (max-width: 1000px) {
  footer {
    padding: 20px 0 20px 0;
    font-size: 0.7em;
  }
}
