* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 1760px;
}

:root {
  --primary-color: #FF385C;
  --blood-color: rgb(136, 8, 8);
}

footer {
  margin-top: 250px;
  background-color: #B3C8CF;
}

footer>div {
  padding: 40px 0 40px 0;
  text-align: right;
  max-width: 1760px;
  margin: 0 auto;
  width: 90%;
}
