* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #FC5F62;
  --blood-color: rgb(193, 0, 0);
  --palette1: rgb(218, 214, 223);
  --palette2: rgb(108, 90, 104);
  --palette3: rgb(71, 59, 72);
  --palette4: rgb(69, 48, 57);
  --palette5: rgb(33, 30, 40);
  --palette6: rgb(78, 76, 88);
}

body {
  background-color: var(--palette3);
  color: var(--palette1);
  min-height: 120vh;
  min-width: 380px;

}

main {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
  max-width: 1760px;
  margin-bottom: 20vh;
}

h1 {
  color: var(--palette2);
  font-family: "Nosifer", sans-serif;
}

li {
  list-style-type: none;
}

button {
  height: 30px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  height: 30px;
  outline: none;
}

textarea {
  resize: vertical;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  background-color: var(--palette5);
  color: var(--blood-color);
}

.error-group {
  display: flex;
  flex-direction: column;
}

.form-error-text {
  color: var(--primary-color);
  font-size: 0.75em;
}

.blood-icon {
  color: var(--blood-color)
}
