* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #FC5F62;
  --blood-color: rgb(193, 0, 0);
  --palette1: rgb(218, 214, 223);
  --palette2: rgb(108, 90, 104);
  --palette3: rgb(71, 59, 72);
  --palette4: rgb(69, 48, 57);
  --palette5: rgb(33, 30, 40);
  --palette6: rgb(78, 76, 88);
}

body {
  min-height: 120vh;
  min-width: 380px;
}

body.dark {
  background: linear-gradient(var(--palette3), rgb(100, 88, 101));
  color: var(--palette1);
}

body.light {
  background: linear-gradient(var(--palette1), rgb(183, 179, 188));
  color: var(--palette3)
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
  max-width: 1760px;
  margin-bottom: 20vh;
}

h1 {
  color: var(--palette2);
  font-family: "Nosifer", sans-serif;
}

li {
  list-style-type: none;
}

button {
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

input {
  height: 30px;
  outline: none;
}

textarea {
  resize: vertical;
  outline: none;
}


body.dark button {
  background-color: var(--palette1);
  color: var(--palette3);
}

body.light button {
  background-color: var(--palette6);
  color: var(--primary-color);
}

body.dark img:not(#logo) {
  box-shadow: 0 0 15px var(--palette4);
}

body.light img:not(#logo) {
  box-shadow: 0 0 15px var(--palette6);
}

.error-group {
  display: flex;
  flex-direction: column;
}

.form-error-text {
  color: var(--primary-color);
  font-size: 0.75em;
}

.blood-icon {
  color: var(--blood-color)
}

:root {
  --skeleton-base-color: var(--palette5);
  --skeleton-highlight-color: var(--palette6);
}

body.light {
  --skeleton-base-color: var(--palette6);
  --skeleton-highlight-color: var(--palette2);
}

.spot-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spot-skeleton-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.spot-skeleton-content .spot-skeleton-left {
  display: flex;
  flex-direction: column;
}

.spot-skeleton-rating {
  display: flex;
  align-items: flex-start;
}
