#theme-toggle-container {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--palette6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.theme-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  transition: opacity 0.3s ease;
}

.theme-icon {
  font-size: 20px;
  color: var(--palette1);
}

#moon-icon {
  left: 2px;
  opacity: 1;
}

#sun-icon {
  right: 2px;
  opacity: 0;
}

#theme-toggle-container.toggled {
  background-color: var(--palette2);
}

#theme-toggle-container.toggled #moon-icon {
  opacity: 0;
}

#theme-toggle-container.toggled #sun-icon {
  opacity: 1;
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--palette5);
  transition: transform 0.5s ease;
}

.slide-left {
  transform: translateX(0);
}

.slide-right {
  transform: translateX(40px);
}
