#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

#profile-button {
  font-size: 2em;
  color: var(--primary-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 70px;
  list-style-type: none;
  text-align: center;
  border: 1px solid gray;
  z-index: 2;
  background-color: var(--palette1);
  color: var(--palette4);
}

#logo {
  display: block;
  height: 60px;

}

.hidden {
  display: none;
}
