#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

#profile-button {
  font-size: 2em;
  color: #FF385C;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 70px;
  list-style-type: none;
  text-align: center;
  border: 1px solid gray;
  z-index: 2;
  background-color: white;
}

#logo {
  height: 50px;
  display: block;
}

.hidden {
  display: none;
}
