#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo toggle profile";
  align-items: center;
  margin-bottom: 60px;
}

#logo {
  grid-area: logo;
  display: block;
  height: 60px;
}

#theme-toggle {
  grid-area: toggle;
  justify-self: center;
}

#profile-button {
  grid-area: profile;
  font-size: 2em;
  color: var(--primary-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 70px;
  list-style-type: none;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
  background-color: var(--palette1);
  color: var(--palette4);
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  #logo {
    height: 40px;
  }
}
