#account-menu-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#create-spot-profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.drop-down-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 10px 0;
  background-color: var(--palette1);
}

.drop-down-container>li {
  cursor: pointer;
}

.drop-down-container>hr {
  border: 1px solid var(--palette3);

}

#logout-button {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1rem;
  color: inherit;
}

#manage-spots-link {
  text-decoration: none;
  color: inherit;
}

#create-spot-link {
  text-decoration: none;
  color: inherit;
}
