#account-menu-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.drop-down-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  padding: 10px 0;
}

#logout-button {
  border: none;
  background: none;
  font-size: 1rem;
}
