#popup-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 40px 40px;
  gap: 20px;
  background-color: var(--palette2);
}

#popup-container-login>h1 {
  color: var(--palette1)
}

.form-container-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field-login {
  width: 400px;
}

.error-group {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  #popup-container-login {
    width: 400px;
  }

  .input-field-login {
    width: 320px;
  }
}
